/* colors */

* {
 bg:#1F1F1F;
 bg1:#8A30C9;
 bg2:#64B5F6;
 bg3:#64B5F6;
 fg:#ECEFF4;
 fg1:#E5E9F0;
 fg2:#D8DEE9;
  red: #BF616A;
  orange:#D08770;
  yellow:#EBCB8B;
  magenta:#B48EAD;
  cyan:#D092FC;
  blue:#81A1C1;
  green:#A3BE8C;
  transparent: #00000000;
}
